{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>This is my Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ action }} Task </h1>
        <form method="post" class="task-form">
            {% csrf_token %}
            <label>Title<br>
            <input type="text" name="title" value="{{ task.title }}" required>
            </label><br><br>

            <label>Description<br>
            <input type="text" name="description" value="{{ task.description }}" required> 
            </label><br><br>

            <label>Completed<br>
            <input type="checkbox" name="completed" {% if task.completed %}checked{% endif %}>
            </label><br><br>

            <label>Task Created Date<br>
            <input type="date" name="created_date" value="{{ task.created_date|date:'Y-m-d' }}" required>
            </label><br><br>

            <label>Task Due Date<br>
            <input type="date" name="due_date" value="{{ task.due_date|date:'Y-m-d' }}" required>
            </label><br><br>

            <button type="submit">{{ action }}</button>
        </form>
</body>
</html>