 body {
display: flex;
justify-content: space-between; 
align-items: center;
height: 100vh;
background: white;
}

.column {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}

.center {
display: flex;
justify-content: center;
gap: 80px;
}

.box {
width: 70px;
height: 70px;
background: #e2b72a;
border: 3px solid black;
}