/*Selector {
    Property: value;
}*/
.highlight {
    background-color: yellow;
}
h5 {
    text-align: center;
}
.center-box-text {
    text-align: center;
    border: 1px solid red;
    color: red;
    padding: 10px 40px; /* 10px top/bottom, 40px left/right */
    margin: 0 30px; /* center the box horizontally */
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.info-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}
.animalpicture {
    border: 3px solid red;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 200px;
}
.cat-senses {
    margin-left: 40px;
    text-decoration: underline;
}

